<%-include('../partials/header')%>
<form action="/new-reservation" method="POST">
    <input type="text" name="name">
    <input type="text" name="contact">
    <input type="text" name="table">
    <button>Submit</button>
</form>

<%-include('../partials/footer')%>